## Preprocessing

In [1]:

import pandas as pd

In [2]:
import tensorflow as tf

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' but let's keep the Name colmn.
application_df = application_df.drop(["EIN"], axis=1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T29', 'T2', 'T13', 'T15', 'T17', 'T14', 'T9', 'T25', 'T12']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]
class_counts.index

Index(['C1000', 'C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000',
       'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230',
       'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800',
       'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210',
       'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0',
       'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600',
       'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700',
       'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732',
       'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150'],
      dtype='object')

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
for c in class_counts.index:
    if class_counts[c] < 500:
        classifications_to_replace.append(c)
    


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [11]:
#NAME column value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [12]:
#Choose a cutoff value
names_to_replace = list(name_counts[name_counts<5].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays
X = application_with_dummies_df.drop(['IS_SUCCESSFUL'],axis=1)
y = application_with_dummies_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='sigmoid'))

## Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='sigmoid'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               44800
_________________________________________________________________
dense_1 (Dense)              (None, 30)                3030
_________________________________________________________________
dense_2 (Dense)              (None, 10)                310
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 48,151
Trainable params: 48,151
Non-trainable params: 0
_________________________________________________________________

2022-05-31 21:51:25.236139: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2022-05-31 21:51:25.236602: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

In [17]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [18]:
X_train_scaled = np.asarray(X_train_scaled)
y_train = np.asarray(y_train)
# validation_x = np.asarray(validation_x)
# validation_y = np.asarray(validation_y)

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 4s 144us/sample - loss: 0.4860 - accuracy: 0.7755
Epoch 2/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4364 - accuracy: 0.7961
Epoch 3/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4288 - accuracy: 0.7983
Epoch 4/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4252 - accuracy: 0.7993
Epoch 5/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.4223 - accuracy: 0.8006
Epoch 6/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.4203 - accuracy: 0.8011
Epoch 7/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.4190 - accuracy: 0.8016
Epoch 8/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4179 - accuracy: 0.8015
Epoch 9/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4167 - accuracy: 0.8021
Epoch 10/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4151 - accuracy: 0.8023
Epoch 11/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4142 - accuracy: 0.8032
Epoch 12/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4135 - accuracy: 0.8042
Epoch 13/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.4128 - accuracy: 0.8042
Epoch 14/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.4117 - accuracy: 0.8035
Epoch 15/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4109 - accuracy: 0.8042
Epoch 16/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4106 - accuracy: 0.8046
Epoch 17/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4103 - accuracy: 0.8049
Epoch 18/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4095 - accuracy: 0.8043
Epoch 19/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4088 - accuracy: 0.8056
Epoch 20/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4082 - accuracy: 0.8051
Epoch 21/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.4074 - accuracy: 0.8054
Epoch 22/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.4076 - accuracy: 0.8060
Epoch 23/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4064 - accuracy: 0.8060
Epoch 24/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4066 - accuracy: 0.8072
Epoch 25/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4056 - accuracy: 0.8061
Epoch 26/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.4055 - accuracy: 0.8067
Epoch 27/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4052 - accuracy: 0.8073
Epoch 28/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4048 - accuracy: 0.8071
Epoch 29/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4045 - accuracy: 0.8075
Epoch 30/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4038 - accuracy: 0.8077
Epoch 31/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4038 - accuracy: 0.8075
Epoch 32/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.4032 - accuracy: 0.8078
Epoch 33/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4032 - accuracy: 0.8071
Epoch 34/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4027 - accuracy: 0.8074
Epoch 35/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4026 - accuracy: 0.8082
Epoch 36/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4024 - accuracy: 0.8086
Epoch 37/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4018 - accuracy: 0.8080
Epoch 38/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4020 - accuracy: 0.8085
Epoch 39/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4015 - accuracy: 0.8085
Epoch 40/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4011 - accuracy: 0.8082
Epoch 41/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.4006 - accuracy: 0.8083
Epoch 42/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.4012 - accuracy: 0.8080
Epoch 43/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.4009 - accuracy: 0.8087
Epoch 44/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.4010 - accuracy: 0.8075
Epoch 45/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.4007 - accuracy: 0.8092
Epoch 46/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.4006 - accuracy: 0.8101
Epoch 47/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.3998 - accuracy: 0.8094
Epoch 48/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4000 - accuracy: 0.8090
Epoch 49/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.3997 - accuracy: 0.8080
Epoch 50/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.3999 - accuracy: 0.8093
Epoch 51/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.3988 - accuracy: 0.8090
Epoch 52/100
25724/25724 [==============================] - 6s 248us/sample - loss: 0.3990 - accuracy: 0.8095
Epoch 53/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.3987 - accuracy: 0.8098
Epoch 54/100
25724/25724 [==============================] - 4s 145us/sample - loss: 0.3986 - accuracy: 0.8091
Epoch 55/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.3986 - accuracy: 0.8093
Epoch 56/100
25724/25724 [==============================] - 4s 155us/sample - loss: 0.3983 - accuracy: 0.8094
Epoch 57/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.3981 - accuracy: 0.8093
Epoch 58/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.3981 - accuracy: 0.8099
Epoch 59/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.3981 - accuracy: 0.8095
Epoch 60/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.3977 - accuracy: 0.8090
Epoch 61/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.3982 - accuracy: 0.8087
Epoch 62/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.3978 - accuracy: 0.8097
Epoch 63/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.3981 - accuracy: 0.8096
Epoch 64/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.3978 - accuracy: 0.8097
Epoch 65/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.3973 - accuracy: 0.8103
Epoch 66/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.3976 - accuracy: 0.8109
Epoch 67/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.3974 - accuracy: 0.8103
Epoch 68/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.3974 - accuracy: 0.8103
Epoch 69/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.3973 - accuracy: 0.8103
Epoch 70/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.3973 - accuracy: 0.8097
Epoch 71/100
25724/25724 [==============================] - 4s 144us/sample - loss: 0.3968 - accuracy: 0.8102
Epoch 72/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.3968 - accuracy: 0.8108
Epoch 73/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.3967 - accuracy: 0.8099
Epoch 74/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.3967 - accuracy: 0.8112
Epoch 75/100

25724/25724 [==============================] - 6s 228us/sample - loss: 0.3964 - accuracy: 0.8110
Epoch 76/100
25724/25724 [==============================] - 11s 414us/sample - loss: 0.3967 - accuracy: 0.8111
Epoch 77/100
25724/25724 [==============================] - 11s 436us/sample - loss: 0.3961 - accuracy: 0.8116
Epoch 78/100
25724/25724 [==============================] - 21s 805us/sample - loss: 0.3960 - accuracy: 0.8104
Epoch 79/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.3962 - accuracy: 0.8104
Epoch 80/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.3967 - accuracy: 0.8108
Epoch 81/100
25724/25724 [==============================] - 11s 421us/sample - loss: 0.3968 - accuracy: 0.8099
Epoch 82/100
25724/25724 [==============================] - 20s 786us/sample - loss: 0.3964 - accuracy: 0.8108
Epoch 83/100
25724/25724 [==============================] - 23s 907us/sample - loss: 0.3960 - accuracy: 0.8109
Epoch 84/100
25724/25724 [==============================] - 8s 301us/sample - loss: 0.3963 - accuracy: 0.8109
Epoch 85/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.3959 - accuracy: 0.8111
Epoch 86/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.3961 - accuracy: 0.8108
Epoch 87/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.3963 - accuracy: 0.8115
Epoch 88/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.3963 - accuracy: 0.8112
Epoch 89/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.3964 - accuracy: 0.8114
Epoch 90/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.3965 - accuracy: 0.8106
Epoch 91/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.3959 - accuracy: 0.8108
Epoch 92/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.3959 - accuracy: 0.8105
Epoch 93/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.3958 - accuracy: 0.8108
Epoch 94/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.3961 - accuracy: 0.8106
Epoch 95/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.3965 - accuracy: 0.8103
Epoch 96/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.3962 - accuracy: 0.8113
Epoch 97/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.3956 - accuracy: 0.8112
Epoch 98/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.3957 - accuracy: 0.8119
Epoch 99/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.3959 - accuracy: 0.8113
Epoch 100/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.3959 - accuracy: 0.8111

In [20]:
X_test_scaled = np.asarray(X_test_scaled)
y_test = np.asarray(y_test)

In [53]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 0.4362 - accuracy: 0.7897
Loss: 0.46849953508238057, Accuracy: 0.7897375822067261

In [54]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")